.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  margin-bottom: 2.5rem;
  text-align: center;
}

.mainTitle {
  color: #ea580c;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.subtitle {
  color: #6b7280;
  font-size: 1.1rem;
}